.logo {
  padding: 1rem 0;

  img {
    max-height: 4rem;
  }
}

.section-hero {
  background-color: var(--clr-main);
}

.section-numbers {
  .subtitle {
    font-weight: 500;
  }

  .cifra,
  .amount {
    font-family: var(--ff-title);
  }
}

.section-primeira {
  p + p {
    margin-top: 2rem;
  }
}

.form-container {
  position: fixed;
  top: 10%;
  right: 10%;
  max-width: 22.6667%;
  //   background: yellow;
}
