.logo {
  padding: 1rem 0;

  img {
    max-height: 4rem;
  }
}

.section-hero {
  width: 100%;
  background-color: var(--clr-main);

  .container {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-bottom: 0.75rem;
    line-height: 1;
  }

  p + p {
    margin-top: 0.5rem;
  }

  .wrapper {
    width: 100%;
  }
}

.section-hero__image {
  display: none;
  max-width: 300px;
  margin-right: -5.5%;
}

.section-primeira {
  .section-primeira__text-image {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.125rem;
    text-align: justify;
  }

  p + p {
    margin-top: 0.5rem;
  }
}

footer {
  padding-block: 2.25vh;
  font-size: 1.15rem;
  font-family: var(--ff-title);
  font-weight: bold;
  text-align: center;

  span {
    display: inline-block;
    transform: rotateZ(90deg);
    margin-left: 0.5rem;
  }
}

// 900px
@media screen and (min-width: 56.25rem) {
  .fluid.fluid {
    width: 100%;
  }

  .container {
    position: relative;
    width: 56.6667%; // 66.5557% - 10% (margin)
    height: 100%;
    margin: 0 auto 0 10%;
  }

  .section-hero__image {
    margin-right: -1.25%;
  }

  .cards--numbers {
    padding: 0 1rem 0 0;
  }

  .form-container {
    position: fixed;
    top: 10%;
    right: 2.5%;
    display: block;
    max-width: 30%;
  }

  .form-container.form-container {
    display: block; // reset (remove is-hidden)
  }

  .btn--fixed {
    display: none;
  }
}

@media screen and (min-width: 25rem) {
  .section-primeira {
    .section-primeira__text-image {
      float: left;
      width: 50%;
      margin-right: 0.5rem;
    }
  }
}

@media screen and (min-width: 75rem) {
  .form-container {
    position: fixed;
    top: 2.5%;
    right: 10%;
    max-width: 22.6667%;
  }
}

@media screen and (min-width: 80rem) {
  .section-hero {
    padding: 2rem 0 0 0;
  }
  .section-hero__image {
    display: block;
    align-self: flex-end;
  }
  .section-diferenciais {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
