.logo {
  padding: 1rem 0;

  img {
    max-height: 4rem;
  }
}

.section-hero {
  background-color: rgb(158, 158, 250);
}

.align-left {
  width: 66.66%;
  //   height: 400px;
  //   background-color: red;
}

.form-container {
  position: fixed;
  top: 10%;
  right: 10%;
  max-width: 22.6667%;
  //   background: yellow;
}
